<%
# We cannot rely on rb_form_helper being present here
#  - in case there is another plugin hooking into ProjectsHelpers - e.g. RemindCRM
# so we duplicate the rb_form_for code here and do not monkeypatch RbFormHelper into ProjectsHelper.
  def rb_pr_form_for(*args, &proc)
    form_string = form_for(*args, &proc)
    if Rails::VERSION::MAJOR < 3
      form_string
    else
      concat(form_string)
    end
  end
  rb_pr_form_for @project,
                   :as => :rb_project_settings,
                   :url => { :controller => 'rb_project_settings',
                             :action => 'project_settings', :project_id => @project },
                   :html => {:id => 'backlogs-form',
                             :method => :post} do |f| %>

<%
    @issue_statuses = IssueStatus.find(:all,:order => 'position')

    # Create a lookup of issue statuses for a given project.
    @project_statuses = RbProjectTaskStatus.find(
      :all,
      :conditions => {:project_id => @project.id})
    @project_statuses = @project_statuses.inject({}){|s,v|
      s[v[:issue_status_id]] = v
      s
    }
%>

<%= error_messages_for 'rb_project_settings' %>

<div class="box">
<% if Backlogs.setting[:sharing_enabled] %>
  <p>
    <%= content_tag(:label, l(:backlogs_show_stories_from_subprojects_in_backlog)) %>
    <%= check_box_tag("settings[show_stories_from_subprojects]", 'enabled',
        @project.rb_project_settings.show_stories_from_subprojects) %>
  </p>
<% end %>
<p>
  <%= content_tag(:label, l(:backlogs_show_in_scrum_stats)) %>
  <%= check_box_tag("settings[show_in_scrum_stats]", 'enabled',
      @project.rb_project_settings.show_in_scrum_stats) %>
</p>
</div>

<div class="box">
<p>
  Select issue statuses you want to use for sprint tasks.
  These will show up as columns on the taskboard.
  If you leave all the boxes unchecked, the default
  issues statuses will be used.  These are defined in
  the main backlogs configuration page.
</p>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Issue status name</th>
      </tr>
    </thead>
    <tbody>
      <% @issue_statuses.each do |s| %>
      <tr>
        <td ><%= check_box_tag("issue_statuses[#{s[:id]}","1",@project_statuses.has_key?(s[:id])) %></td>
        <td ><%= s.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= submit_tag(l(:button_save)) %>
<% end %>
